<header id="header">
    <div class="content">
        <a href="{{ '/' | relative_url }}" data-stylemod="no-link-highlight" style="grid-row: 1 / 3; grid-column: 1;">
            <img src="{{ 'assets/images/logo.svg' | relative_url }}">
        </a>
        <div id="header-reserved" style="background-color: red;
                grid-column: 2;
                grid-row: 2;">
        </div>
        <!-- 検索 追加予定 -->
        <a class="link-button" href="https://github.com/maemon4095/HackNoSense"
            style="grid-row: 1 / 3; grid-column: 3;">GitHub</a>
    </div>
    <script type="text/javascript">
        const header = document.getElementById("header");
        let scrollY = window.scrollY;
        let position = 0;

        window.addEventListener("scroll", () => {
            let delta = window.scrollY - scrollY;
            let height = header.clientHeight;
            scrollY = window.scrollY;
            position = Math.max(clamp(position + delta / 4, -height, 0), -scrollY);
            header.style.top = `${position}px`;

            function clamp(num, min, max) {
                if (num < min) return min;
                if (num > max) return max;
                return num;
            }
        });
    </script>
</header>