body {
    color: #ddd;
    background-color: #333;
}
  
header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: min(50px);
  padding: 15px;
  background: darken(#333, 3%);
  filter: drop-shadow(10px, 10px);
    
  .flexbox {
    display: flex;
    align-items: center;
    align-content: space-around;
  }
}

