html{
  box-sizing: border-box;
  font-size: 100%;
}

$header-padding:15px;
$header-flexbox-height:80px;

body {
  padding-top: $header-padding * 2 + $header-flexbox-height;
  color: $main-color;
  background-color: $main-bg-color;
  margin-left:auto;
  margin-right:auto;
  width: 61.8%;
}
  
header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding:$header-padding;
  background-color: rgba($main-bg-dark-color, 0.7);
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
    
  .flexbox {
    height:$header-flexbox-height;
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .left {
    margin-left: auto;
  }
}

.logo-text {
  color: antiquewhite;
}

hr {
  border: solid 1px $main-border-color;
}