<header id="header">
    <div class="flexbox">
        <a class="logo-text" href="{{ '/' | relative_url }}">Hack No Sense</a>

        <!-- 検索 追加予定 -->
        <div class="end">
            <a href="https://github.com/maemon4095/HackNoSense">GitHub</a>
        </div>
    </div>
    <script type="text/javascript">
        const header = document.getElementById("header");
        const headerHeight = header.clientHeight;

        let scrollY = 0;
        let position = 0;

        window.addEventListener("scroll", () => {
            let delta = window.scrollY - scrollY;
            scrollY = window.scrollY;
            position = Math.max(Math.min(headerHeight, position + delta), 0);
            header.style.top = `${-position}px`;
        });
    </script>
</header>