<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  <!--stylesheets-->
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
  <!--highlight theme-->
  <link rel="stylesheet" href="{{ 'assets\css\github-dark.min.css' | relative_url }}">
  <!--highlight.js-->
  <script src="{{ 'assets\js\highlight.min.js' | relative_url }}"></script>
  <script>hljs.highlightAll();</script>
  <!--mermaid-->
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({ startOnLoad: true });</script>
</head>