.post-content 
{
    h1 {
        border-bottom: solid 2px $main-border-color;
    }
  
    h2 {
        border-bottom: solid 2px $main-border-color;
    }
  
    h3 {
        border-bottom: solid 1px $main-border-color;
    }

    h4 {
        border-bottom: solid 1px $main-border-color;
    }
}

div.mermaid {
    background-color: $main-bg-dark-color;
}