html{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  color: $main-color;
  background-color: $main-bg-color;
  margin:auto;
}
  
header {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding:15px;
  background-color: rgba($main-bg-dark-color, 0.7);
  backdrop-filter: blur(3px);
    
  .flexbox {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .end {
    margin-left: auto;
  }
}

.logo-text {
  color: antiquewhite;
}

.content-root {
  margin: auto;
  width: 61.8%;
}

hr {
  border: solid 1px $main-border-color;
}