header,
section,
footer {
  float: left;
  width: 100%;
  clear: both;
}

header {
  padding: 15px;
  background: darken(#333, 3%);

  h1,
  nav { display: inline-block; }

  .flexbox {
    display: flex;
    height: 50px;

    & > * { margin: auto }
  }
}