---
layout: default
---

{{- content -}}

<hr>
<div class="row">
    <div>
        <h1>Posts</h1>
        <ul>
            {% assign post_by_date = site.posts | sort:"date" | reverse %}
            {% for post in post_by_date %}
            <li>
                <a href="{{ post.url | relative_url }}">
                    [{{ post.date | date: "%Y/%m/%d" }}] {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div>
        <h1>Tags</h1>
        <ul>
            {% for tag in site.tags %}
            {% assign tag_name = tag[0] %}
            {% unless tag_name == '雑記' %}
            <li>
                <a href="{{ site.baseurl }}/pages/categories/{{ tag_name | slugify }}">
                    {{ tag_name }}
                </a>
                <ul>
                    {% assign post_by_date = tag[1] | sort:"date" | reverse %}
                    {% for post in post_by_date %}
                    {% unless post.tags contains '雑記' %}
                    <li>
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title }}
                        </a>
                    </li>
                    {% endunless %}
                    {% endfor %}
                </ul>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
</div>