---
layout: default
---
<header>
    <h1>{{ page.title }}</h1>
    <div style="display: flex; column-gap: 1em;">
        <div>
            投稿 : {{ page.date | date: "%Y/%m/%d" }}
        </div>
        <div>
            最終更新 : {{ page.last_modified | date: "%Y/%m/%d" }}
        </div>
        <div style="margin-left: auto;">
            tags:
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/pages/categories/{{ tag | slugify }}.html">
                {{ tag }}
            </a>
            {% endfor %}
        </div>
    </div>
    <hr>
</header>
<div class="post-content">
    {{- content -}}
</div>